@model IEnumerable<MeetingGeneralInfoViewModel>
@{
    ViewData["Title"] = "Index";
}

<h3 class="text-info">Last meetings</h3>

<div class="container-fluid">

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="thumbnail">
                <img src="@item.PhotoPath"  style="height : 100px" alt="...">
                <div class="caption">
                   <h3 class="text-center">@item.Name</h3>
                    <h5>@item.CategoryName</h5>
                    <h5>@item.CityName</h5>
                    <h5>Date : @item.ShortDateString</h5>
                    <h5>Members : @item.ConfirmedUsersRequests</h5>
                    <p>@item.Description ...</p>
                    <p><a asp-controller="MeetingInfo" asp-action="MeetingGeneralInfo" asp-route-meetingId="@item.Id" class="btn btn-primary">More details</a></p>
                </div>
            </div>
        </div>
    }
</div>
</div>
