@model MeetingOwnInfoViewModel


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 ">
            <img src="@Model.PhotoPath" class="img-responsive" alt="event photo" />

            <p>@Model.Name</p>

            <p>Category : @Model.CategoryName</p>

            <p>City : @Model.CityName</p>

            <p>Date : @Model.ShortDateString</p>

            <p>Users already joined : @Model.ConfirmedUsersRequests</p>

            <a asp-controller="MeetingInfo" asp-action="MeetingUnconfirmedSubscribers" asp-route-meetingId="@Model.Id" class="btn btn-primary">
                Users want to join <span class="badge">@Model.UnconfirmedUsersRequests</span>
            </a>

            <a asp-controller="MeetingManage" asp-action="MeetingEdit" asp-route-meetingId="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="MeetingManage" asp-action="MeetingDelete" asp-route-meetingId="@Model.Id" class="btn btn-danger">Delete</a>

            <p>@Model.Description</p>
        </div>
    </div>

</div>
