@model Community.ModelViews.MeetingViewModels.MeetingDetailViewModel

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>MeetingDetailViewModel</h4>
  
    <img src="@Model.PhotoPath" width="200" height="150" />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.CreatorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

@{
    if (Model.UserJoined == true)
    {
        <a asp-action="Unjoin" asp-controller="Meeting" asp-route-meetingId="@Model.Id" class="btn btn-danger">Unjoin</a>
    }
    else
    {
        <a asp-action="Join" asp-controller="Meeting" asp-route-meetingId="@Model.Id" class="btn btn-success">Join</a>
    }
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
