@model MyMeetingInfoViewModel


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 ">
            <img src="@Model.PhotoPath" class="img-responsive" alt="event photo" />

            <p>@Model.Name</p>

            <p>Category : @Model.CategoryName</p>

            <p>City : @Model.CityName</p>

            <p>Date : @Model.ShortDateString</p>

            <p>Users already joined : @Model.ConfirmedUsersRequests</p>

            <button class="btn btn-primary" type="button">
                Users want to join <span class="badge">@Model.UnconfirmedUsersRequests</span>
            </button>

            <a asp-controller="Meeting" asp-action="EditMeeting" asp-route-meetingId="@Model.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Meeting" asp-action="DeleteMeeting" asp-route-meetingId="@Model.Id" class="btn btn-danger">Delete</a>

            <p>@Model.Description</p>
        </div>
    </div>

</div>
